<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class = "container">
    <div class = "buttons" style = "display: inline-block">
        <button id = "delete" class="control-btn">Delete</button>
        <button id = "block" type = "submit"  class="control-btn">Block</button>
        <button id = "unblock" type = "submit" class="control-btn">Unblock</button>
    </div>
</div>

<div class = "container">
    <div class = "row" style = "margin-top: 20px">
        <table id="example" class="table table-bordered" style="width: 100%">
            <thead>
            <tr>
                <th><input type = "checkbox" id = "select-all" value = "null"/></th>
                <th>Id</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Last Online</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><input type = "checkbox" th:value="${user.id}" name = "user-select"/></td>
                <td th:utext="${user.id}">id</td>
                <td th:text="${user.username}">username</td>
                <td th:text="${user.firstname}">firstname</td>
                <td th:text="${user.lastname}">lastname</td>
                <td th:utext="${user.mail}">mail</td>
                <td th:utext="${user.lastOnline}">last online</td>
                <div th:if="${user.isEnabled()}">
                    <td th:utext="Enabled">Status enabled</td>
                </div>
                <div th:unless="${user.isEnabled()}">
                    <td th:utext="Blocked">Status blocked</td>
                </div>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $("#select-all").click(function() {
            $(':checkbox').prop('checked', this.checked);
        });
    </script>

    <script>
        jQuery(document).ready(function($){
            let values = []
            $(".control-btn").on('click', function(){
                $('[name="user-select"]:checked').each(function(){
                    values.push($(this).val());
                });
                let btn_id = $(this).prop("id");
                let request_method;
                if (btn_id === 'delete') {
                    request_method = "POST"
                } else {
                    request_method = "PUT"
                }
                (async function(values) {
                    await fetch(this.window.location + "/" + btn_id,
                        {
                            method: request_method,
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(values)
                        })
                    location.reload();
                })(values);
            });

        });
    </script>

    </script>
</div>
</body>
</html>